<p><%= t(:hello).capitalize %> <%= @resource.name %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t '.being_change_password_msg', email: @resource.unconfirmed_email %></p>
<% else %>
  <p><%= t '.has_been_changed_password_msg', email: @resource.unconfirmed_email %></p>
<% end %>
